@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome/fontawesome-webfont.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/open_sans_bold/opensans-bold-webfont.eot');
  src: url('../fonts/open_sans_bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open_sans_bold/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/open_sans_bold/opensans-bold-webfont.woff') format('woff'), url('../fonts/open_sans_bold/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/open_sans_regular/opensans-regular-webfont.eot');
  src: url('../fonts/open_sans_regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/open_sans_regular/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/open_sans_regular/opensans-regular-webfont.woff') format('woff'), url('../fonts/open_sans_regular/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: open_sansregular;
  max-width: 1920px;
  min-width: 320px;
}
.header-container-fluid {
  background-color: #e1e1e1;
}
.main-logo {
  padding: 30px 15px;
  float: left;
}
.header-container {
  background-color: #53545e;
}
.header-test {
  font-family: open_sansbold;
  font-size: 12px;
  color: #f1f1f1;
  float: right;
  margin-top: 45px;
}
.main-container-fluid {
  background-color: #f1f1f1;
}
.main-img {
  background-color: #dedede;
}
.article-img {
  width: 100%;
  min-width: 50px;
  height: auto;
  overflow: hidden;
}
.main-container {
  background-color: #fff;
}
.main-text {
  font-family: open_sansbold;
  font-size: 18px;
  text-transform: uppercase;
  color: #53545e;
}
section {
  margin: 30px 15px;
}
section article p {
  color: #bfc0c3;
  font-family: open_sansregular;
  font-size: 13px;
  padding-top: 10px;
}
.main-btn {
  font-family: open_sansbold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #53545e;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  margin-top: 15px;
  display: inline-block;
}
.main-btn:hover {
  background-color: #bfc0c3;
  color: #53545e;
  text-decoration: none;
}
.special-line {
  padding-top: 25px;
}
.first-footer-container {
  background-color: #f1f1f1;
  padding-bottom: 20px;
}
.icon-social {
  font-size: 18px;
  text-decoration: none;
  color: #53545e;
  background-color: #e1e1e1;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  float: right;
  margin-left: 15px;
}
.padding {
  padding: 8px 14px;
}
.padding-g {
  padding: 8px 10px;
}
.padding-f {
  padding: 8px 17px;
}
.icon-social:hover {
  background-color: #53545e;
  color: #bfc0c3;
  text-decoration: none;
}
.footer-text {
  color: #fff;
  font-family: open_sansregular;
  font-size: 13px;
}
div ul {
  float: right;
  padding-right: 40px;
}
div ul li {
  list-style: none;
  font-family: open_sansregular;
  font-size: 13px;
}
div ul li a {
  color: #fff;
  text-decoration: none;
}
div ul li a:hover {
  text-decoration: none;
  color: #fff;
}
div ul li i {
  padding-right: 15px;
}
.last-text {
  font-family: open_sansregular;
  font-size: 13px;
  color: #f1f1f1;
}
.unsubscribe {
  padding-left: 10px;
  display: inline-block;
}
.view-online {
  padding-right: 10px;
  border-right: 1px solid #a6a7b0;
  display: inline-block;
}
footer div div div div section span {
  font-family: open_sansregular;
  font-size: 12px;
  color: #a6a7b0;
  float: right;
}
.unsubscribe-a {
  color: #a6a7b0;
  text-decoration: none;
}
.unsubscribe-a:hover {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 992px) {
  .main-text-footer {
    font-size: 16px;
  }
  div ul {
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .social {
    text-align: center;
  }
  .icon-social {
    float: none;
  }
}
